#root {
  height: 100%;
  background: #001529;
}

.logo {
  margin: 16px 24px 16px 0;
  float: left;
}

.app-layout-background {
  background: #fff;
}

.app-layout-content-sider-background {
  background: #fff;
}

.app-layout-footer {
  background: #001529;
  color: #fff;
  text-align: center;
}

.app-layout-footer>a {
  color: #ff4d4f;
}

.app-layout-footer>a:hover {
  color: #ff7875;
}

#canvas {
  border: 1px solid #f0f0f0;
}

.color-picker-popover>.ant-popover-content>.ant-popover-inner>.ant-popover-inner-content {
  padding: 0;
}