#root {
  height: 100%;
}

.app-layout {
  height: 100%;
}

.app-layout-sub-header-background {
  background: #fff;
}
 
.app-layout-background {
  background: #fff;
}

.app-layout-content-sider-background {
  background: #fff;
}

#canvas {
  border: 1px solid #f0f0f0;
}